@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:400,400i,700,700i");

html, body {
    height: 100%;
  }

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(121, 128, 133);
    border-radius: 4;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(187, 190, 191);
}
::-webkit-scrollbar-track {
    background-color: rgb(58, 58, 58);
}

body {
    background: #3a3a3a;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: center;
    
   
    
  
    
}

h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

a {
    font-weight: 500;
    color: rgb(128, 128, 128);
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

a:hover {
    text-decoration: underline;
}

p > a {
    border-bottom: 0px solid rgba(44, 170, 223, 0);
}

p > a:visited {
    color: none;
    text-decoration: none;
}

p > a:visited:hover,
p > a:visited:focus {
    color: none;
    text-decoration: none;
}

p > a:hover,
p > a:focus {
    color: none;
    border-bottom: 0px solid #2caadf;
}
#content{
   
       
}
.center {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav {
    padding-bottom: 10px;
    font-size: 15px;
}

#profile_pic {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    right: 20px;
    top: 20px;
}

#profile_pic img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.my_self {
    max-width: 1200px;
    min-width: 444px;
    padding: 10px;
    padding-top: 22px;
    padding-bottom: 20px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
}
.my_self img {
    width: 800px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile {
    max-width: 800px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.profile_myself {
    background: rgba(71, 71, 71, 0.6);
}

.profile img {
    margin: 10px;
    width: 140px;
    height: 200px;
    border-radius: 5px;
    right: 15px;
    top: 10px;
    object-fit: cover;
}
.profile h3 {
    margin: 0;
    background: none;
}

.profile_data {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.profile_data button {
    margin: 0;
    width: 99px;
}
.other_profile_top {
    height: 230px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}
.other_profile {
    position: relative;
    margin: auto;
    padding: 10px;
    max-width: 800px;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 5px;
    background: rgba(71, 71, 71, 0.6);
}

.other_profile_data {
    position: relative;
    text-align: left;
    left: 50px;
    max-width: 700px;
    height: 200px;
}

.other_profile_data h2 {
    margin: 0;
}
.other_profile_data p {
    max-width: 630px;
}

.other_profile button {
    position: absolute;
    right: 0;
    bottom: 0;
}

.other_profile #profile_pic {
    position: static;
    float: left;
}

.other_profile #profile_pic img {
    width: 140px;
    height: 200px;
    border-radius: 4px;
    object-fit: cover;
    position: relative;
}

.login {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.reset_password {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 5px;

    background: rgba(0, 0, 0, 0.5);
}

.register {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
    border-radius: 5px;
}

.register input {
    margin-bottom: 5px;
    width: 300px;
}

.error {
    background: rgb(230, 128, 191);
}

.welcome {
    border-radius: 5px;
 
    margin: auto;
    background:rgba(0, 0, 0, 0.5);
    max-width: 1200px;
}

.welcome h1 {
    padding: 0px;
    padding-top: 30px;
    
}

.welcome_image img {
    width: 800px;
    height: 400px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 20px;
}

.welcome_image {
    margin: auto;
    /* background: rgba(0, 0, 0, 0.5); */
    max-width: 1200px;
    padding-top: 16px;
    padding-bottom: 8px;
    border-radius: 5px;
}

.pic_placeholder {
    background: rgba(0, 0, 0, 0.5);
}

#uploader {
    position: absolute;
    border-radius: 5px;
    width: 500px;
    height: 90px;
    background: rgb(20, 20, 20, 0.95);
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
}

.uploader_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 10px;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}
.close_button {
    font-size: 19px;
    position: absolute;
    top: 3px;
    right: 11px;
    cursor: pointer;
}
button {
    margin: 10px;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.bio_editor {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 600px;
}

.bio_input_field {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    text-align: left;
    margin-top: 10px;
    width: 600px;
    height: 124px;
    margin-bottom: 10px;
}

.show_bio {
    /* background: rgba(0, 0, 0, 0.5); */
}

.bio_photo_txt{
position: absolute;
color: grey;
font-size: 10px;
bottom: 5px;


}

.find_people {
    margin: auto;
    max-width: 1200px;
    padding-top: 5px;
    padding-bottom: 40px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);

    height: 100%;
}

/* for FindPeople */

#no_results {
    padding-top: 3px;
}
.input_find_user {
    padding-top: 3px;
    width: 300px;
}

.friends {
    margin: auto;
    max-width: 1200px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 30px;
}

.friends h2 {
    margin: 0;
    padding: 20px;
}

.friend {
    position: relative;
    margin: 10px;
    padding: 10px;
    max-width: 600px;
    display: inline-flex;
    background: rgba(71, 71, 71, 0.6);
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: wrap;
}

.friend_data {
    padding-top: 0px;
    padding-left: 10px;
    width: 300px;
    text-align: left;
}

.friend_data h3 {
    min-width: 200px;
    margin: 0;
}

.friend_data a {
    margin-left: 0;
}
.friend button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.friend img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.wannabe {
    background: rgba(0, 0, 0, 0.5);
}

.user_myself {
    margin: auto;
    position: relative;
    max-width: 1200px;
}

.user {
    position: relative;
    margin: auto;
    max-width: 1200px;
    min-width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    height: 165px;
    margin-top: 8px;
    background: rgba(0, 0, 0, 0.5);
}

.users {
   
    padding-bottom: 5x;
    margin-bottom: 10px;
}
.all_users {
    padding-top: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    object-fit: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
}

.all_users img {
    height: 180px;
    width: 150px;
    border-radius: 5%;
    object-fit: cover;
    padding-right: 5px;
    padding-left: 5px;
}
.all_users img:hover {
}

.all_users_txt {
    padding-bottom: 16px;
    font-size: 12px;
}

.all_users_h {
    padding-bottom: 16px;
}

.chat {
}

.chat_content {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    max-width: 1200px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
}
.chat_single {
    margin: 5px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    background: rgba(71, 71, 71, 0.6);
    padding-left: 12px;

    width: 600px;
    border-radius: 5px;
    flex-direction: row;
}

.chat_single img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
#chat_name {
    text-align: left;
    font-size: 14px;
}

.chat_date-message_wrap {
    width: 400px;
}

.chat-text {
    position: absolute;
    left: 60px;
    top: 30px;
    padding-right: 6px;
    width: 260px;
    word-break: break-all;
}

.chat_input_field {
    padding: 5px;
    padding-left: 10px;
    width: 600px;
    margin-top: 20px;

    height: 50px;
    margin-bottom: 12px;
    border-radius: 5px;
}
.chat_photo_text {
    margin: 0;
    width: 100%;
    float: left;
}
